h2 {
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 15px;
}

body {
    background-color: black;
    background-size: 100%;
    background-repeat:no-repeat;
}

#ip_location {
    margin-left: 30px;
}

#bit_coin {
    margin-left: 400px;
    margin-top: -400px;
}

#qr_code {
    margin-left: 800px;
    margin-top: -300px;
}






  

